<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Afshin's Blog!</title>
</head>
<body>
<nav class="navbar navbar-inverse bg-dark">
   <img src="https://tubby.scene7.com/is/image/tubby/knowhow-header-3?$banner$" alt="KnowHow">
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="#">Home </a></li>
                    <li><a class="nav-link" href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<br><br>
<h1>Welcome to <b>KnowHow_Gulskogen </b>portal!</h1>

<h2>Latest Posts: </h2>

{% for post in posts.all %}

<a href="{% url 'detail' post.id %}">{{ post.title}}</a>
<br>
{{ post.pub_date_pretty }}
<br>
<img src="{{post.image.url}}"/>
<br>

{{ post.summary}}
<br>
----------------------------------------------------------------------------------------------------------------------------------------
<br>

{% endfor %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>













